<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <title>Sarah's Thoughts</title>
</head>

<body>
  <!--Begin main body -->
  <!-- Navbar -->
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Sarah's Thoughts </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" th:href="@{/}">Home</a>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blogs
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" th:href="@{/}">View Blogs</a>
                <a class="dropdown-item" sec:authorize="isAuthenticated()" th:href="@{/createBlog}">Create Blog</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pages
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" th:href="@{/pages}">View Pages</a>
                <a class="dropdown-item" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/createStatic}">Create Page</a>
              </div>
            </li>
            <a class="nav-link" th:href="@{/about}">About</a>
            <a class="nav-link" th:href="@{/admin}">Admin</a>
            <a class="nav-link" th:href="@{/login}">Login</a>
            <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/register}">Signup</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <!-- End Navbar -->
  <div class="container">
    <h2 class="p-3 font-weight-bold bg-light">Admin</h2>
    <div class="col-12 m-1 text-center" 
                        th:unless="${#lists.isEmpty(errors)}">
                        <p class="alert alert-danger" th:each="error : ${errors}" 
                        th:text="${error.errorDescription}">Error message</p>
    </div>
    <div class="col-12 m-1 text-center" 
                        th:unless="${#lists.isEmpty(success)}">
                        <p class="alert alert-success" th:each="s : ${success}" 
                        th:text="${s.errorDescription}">Error message</p>
    </div>
    <div class="row" style="padding-bottom: 10px">
      <form class="col" th:action="@{/logout}" method="post">
        <p>
          Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
            </p>
            <input type="submit" value="Sign Out" />
        </form>
    </div>
    <div class="d-grid gap-3" style="padding-bottom: 10px">
        <div class="p-2 bg-light border"><a th:href="@{/createBlog}">Create Blog</a></div>
        <div class="p-2 bg-light border"><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/createStatic}">Create Page</a></div>
        <div class="p-2 bg-light border"><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/users}">See Users</a></div>
    </div>
    <div class="row">
      <form class="col" th:action="@{/createTag}" method="post">
        <div style="padding-bottom: 10px"><input type="text" name="tagName" placeholder="tage name" /></div>
        <div><input type="submit" value="Create Tag" /></div>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="col p-2" th:unless="${#lists.isEmpty(blogs)}">
      <h2>Unapprove Blogs</h2>
      <div th:each="blog: ${blogs}" class="col card text-left m1">
        <div class="card-body">
          <h3 class="card-title text-center" th:text="${blog.blogName}"></h3>
          <p class="card-subtitle" th:text="${blog.author.authorName}"></p>
          <p class="card-date" th:text="${blog.blogCreationTime}"></p>
          <p class="card-subtitle" th:text="${blog.blogId}"></p>
          <a href="#" th:href="@{viewBlog(id=${blog.blogId})}" class="card-link">View</a>
          <a href="#" th:href="@{deleteBlog(id=${blog.blogId})}" class="card-link">Delete</a>
          <a href="#" th:href="@{createTimer(id=${blog.blogId})}" class="card-link">Timer</a>
          <a href="#" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{approveBlog(id=${blog.blogId})}" class="card-link">Approve</a>
          <form type="form" th:action="@{/addTagToBlog}" method="POST">
            <div class="form-group">
              <select class="col-8" name="tagId">
                <option th:each="tag : ${tags}" th:unless="${#lists.contains(blog.tag, tag)}"
                                        th:value="${tag.tagId}"
                                        th:text="${tag.tagName}">tag</option>
                            </select>
                        </div>
                        <input type="hidden" name="blogId" th:value="${blog.blogId}"/>
                        <button type="submit" class="btn btn-primary">Add Tag</button>
                    </form>
          </div>
          <div class="card-footer" th:if="${!#lists.isEmpty(blog.tag)}">
            <span th:each="tag: ${blog.tag}"
                 <span class="col" th:text="${tag.tagName}"></span>
            </span>
          </div>
        </div>
      </div>
</div>
  <!-- End main body -->
  <!-- Footer -->
  <footer class="bg-light text-center text-black">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <p>Follow on Social!</p>
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="https://facebook.com" role="button"><i class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="https://twitter.com" role="button"><i class="fab fa-twitter"></i></a>

        <!-- Google -->
        <!-- <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39;" href="#!" role="button"><i class="fab fa-google"></i></a> -->

        <!-- Instagram -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;" href="https://instagram.com" role="button"><i class="fab fa-instagram"></i></a>

        <!-- Linkedin -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="https://linkedin.com" role="button"><i class="fab fa-linkedin-in"></i></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="container">
      <div class="text-center text-white p-3 bg-dark" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright: M Three Corporate Consulting Ltd trading as mthree.
      </div>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>
